* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(imagennew.jpg) no-repeat;
    background-size: cover;
    font-family: 'Century Gothic',sans-serif;
}

.box {
    width: 700px;
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    text-align: center;
}

.box-img {
    border-radius: 50%;
    
}

.box h2{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 1000;
    margin: 10px;
    line-height: 30px;
    margin-top: 60px;

}

.box p{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 60px 0 60px;
    line-height: 30px;
}

.box h4{
    color:skyblue;
    margin: 10px;
    line-height: 30px;
    

}
.box h3{
    color:white;
    margin: 10px;
    line-height: 30px;
    margin-top: 85px;
}
.box a{
    color: plum;
}
.box boton{
    color: aqua;

}
.box table{
    color:white;
    letter-spacing: 2px;
    font-weight: 1000;
    margin: 10px;
    line-height: 30px;
    margin-top: 60px;
}